<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td>
        <%= link_to "edit", edit_user_path(user) %>
        <%= link_to "delete", user_path(user), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<div class="">
  <%= link_to "add", new_user_path %>
</div>
